<% provide(:title, "Help") %>
<h1>Welcome to the Sample App</h1>
<p>
This is the help page for
<a href="https://www.railstutorial.org/help">Rails on Rails Tutorial</a>.
</p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-
primary" %>